<footer class="footer">
    <div class="row mx-2 d-flex align-items-center">
      <div class="col d-flex justify-content-start">
      <p class="text-muted" style="margin: 5px 0 ;">
        &copy; FoodCamp 2022
      </p>
      </div>
      <div class="col d-flex justify-content-end">
        <a class=" btn btn-outline-dark m-1 " href="/foodgrounds"> <i class="fas fa-home"></i></a>
        <a class=" btn btn-outline-dark m-1 " href="/foodgrounds/new"><i class="fas fa-utensils"></i></a>
        <a class=" btn btn-outline-dark m-1 " href="https://github.com/Prathamesh404/foodCamps"> <i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
