<footer class="footer">
    <div class="row mx-2 d-flex align-items-center">
      <div class="col d-flex justify-content-start">
      <p class="text-muted" style="margin: 5px 0 ;">
        &copy; FoodCamp 2022
      </p>
      </div>
      <div class="col d-flex justify-content-end">
        <a class=" btn btn-xs m-1 " href="/foodgrounds"> <ion-icon name="home-outline" style="font-size: 25px;"></ion-icon></a>
        <a class=" btn btn-xs m-1 " href="/foodgrounds/new"><ion-icon name="fast-food-outline" style="font-size: 25px;"></ion-icon></a>
        <a class=" btn btn-xs m-1 " href="https://github.com/Prathamesh404/foodCamps"> <ion-icon name="git-branch-outline" style="font-size: 25px;"></ion-icon></a>
      </div>
    </div>
  </div>
</footer>
