body{
    background-color:#000; 
}

h1{
    font-size: 4em;
    text-shadow: 2px 2px 2px 10px black;
}

#landing-header {
    z-index: 1;
    position:relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:0;
    list-style: none;
    margin:0;
    padding:0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50% ;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1){
    background-image: url(http://www.freestockphotos.name/wallpaper-original/wallpapers/italian-food-2322.jpg)
}

.slideshow li:nth-child(2){
    background-image: url(http://merkez.anstella.com/wp-content/uploads/2015/06/pizza-20439-20951-hd-wallpapers1.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(http://www.freestockphotos.name/wallpaper-original/wallpapers/pictures-of-food-in-india-7028.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
    background-image: url(https://static.pexels.com/photos/29682/pexels-photo-29682.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5){
    background-image: url(https://static.pexels.com/photos/62097/pexels-photo-62097.jpeg);
    animation-delay: 40s;
}

@keyframes imageAnimation{
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

/*Older Browser support -(.no -cssanimation) class added*/
.no-cssanimations .slideshow li {
    opacity: 1;
}